##############################
## Folders                    ##
##############################
chapter.001/target
chapter.001/project/target
chapter.001/project/project/target
chapter.001/.settings
chapter.001/.classpath
chapter.002/target
chapter.002/project/target
chapter.002/project/project/target
chapter.002/.settings
chapter.002/.classpath
 
##############################
## Netbeans conf              ##
##############################
